[submodule "source/imake_humanoid_robot_assets"]
	path = source/imake_humanoid_robot_assets
	url = https://github.com/imakeinnovation/iMake-Humanoid-Robot-Assets.git
[submodule "source/imake_humanoid_robot_lowlevel"]
	path = source/imake_humanoid_robot_lowlevel
	url = https://github.com/imakeinnovation/iMake-Humanoid-Robot-Lowlevel.git
